* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
}

.app {
  background: url('./assets/cool.jpg');
  background-size: cover; 
  background-position: bottom;
  transition: 0.4s ease-in-out;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app.warm {
  background: url('./assets/warm.jpg');
  background-size: cover; 
  background-position: bottom;
  transition: 0.4s ease-in-out;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 900px;
  width: 500px;
  border-radius: 15px;
  padding: 25px;
  backdrop-filter: blur(25px);
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.search-box {
  width: 100%;
  margin: 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box .search-bar {
  display: block;
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease-in-out;
  width: 90%;
  height: 50px;
  margin-top: 50px;
  appearance: none;
  background: rgba(255, 255, 255, 0.178);
  border-radius: 7.5px;
  border: none;
  outline: none;
  padding-left: 15px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

::placeholder {
  color: rgba(255, 255, 255, 0.534);
}

.search-box .search-bar:focus {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(50, 50, 70, 0.2);
}

.latLang {
  color: rgba(255, 255, 255, 0.644);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(50, 50, 70, 0.2);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(50, 50, 70, 0.2);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 5px 5px 10px rgba(50, 50, 70, 0.2);
  text-align: center;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.temp:hover {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 5px 5px 10px 5px rgba(248, 248, 248, 0.144);
}

.temp {
  animation: temp 2.5s ease-in-out forwards;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

@keyframes temp {
  from {
    opacity: 0;
  }
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 5px 5px 10px rgba(50, 50, 70, 0.2);
}

.itemsBox {
  height: 200px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.items {
  border: 2px dashed rgba(248, 248, 248, 0.342);
  height: 90%;
  width: 40%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.items p {
  font-size: 15px;
  color: white; 
  line-height: 15px;
}

.iconify {
  font-size: 60px;
  color: white;
}

.iconify2 {
  font-size: 40px;
  color: white;
}

hr {
  margin-bottom: 30px;
  opacity: .3;
  width: 100%;
}

.itemsTitle {
  font-size: 12.5px !important;
  opacity: .5;
}

.itemsMargin {
  margin-bottom: 15px;
}

.forekastr {
  color: rgba(7, 7, 7, 0.24);
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 60px;
  transform: scale(.8);
}

.forekastr h1 {
  position: relative;
  top: 350%;  
}

.forekastr h1:nth-child(1) { 
  animation: .75s forekastr ease-in-out forwards;
}

.forekastr h1:nth-child(2) { 
  animation: .75s forekastr ease-in-out forwards .25s;
}

.forekastr h1:nth-child(3) { 
  animation: .75s forekastr ease-in-out forwards .40s;
}

.forekastr h1:nth-child(4) { 
  animation: .75s forekastr ease-in-out forwards .50s;
}

.forekastr h1:nth-child(5) { 
  animation: .75s forekastr ease-in-out forwards .60s;
}

.forekastr h1:nth-child(6) { 
  animation: .75s forekastr ease-in-out forwards .70s;
}

.forekastr h1:nth-child(7) { 
  animation: .75s forekastr ease-in-out forwards .80s;
}

.forekastr h1:nth-child(8) { 
  animation: .75s forekastr ease-in-out forwards .90s;
}

.forekastr h1:nth-child(9) { 
  animation: .75s forekastr ease-in-out forwards 1.40s;
}

@keyframes forekastr {
  to {
    top: 200%;
  }
}

.globe {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.globe img {
  width: 60%;
  opacity: .5;
  filter: drop-shadow(20px 50px 15px #00000044);
}

main {
  transform: scale(.8);
}
